.customModal {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
}
.customModalActive {
    opacity: 1;
    visibility: visible;
}

.customModalContainer {
    opacity: 0;
    width: auto;
    position: relative;
    visibility: hidden;
    transition: inherit;
    margin: 25px auto 0px;
}

.customModalActive .customModalContainer {
    opacity: 1;
    visibility: visible;
}

.customModalClose {
    top: -25px;
    right: 20px;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
}

.customModalClose:hover {
    color: #000;
}

.customModalContent {
    margin: 0px 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.customModalPosition{
    position: absolute;
    left: 0;
    right: 0;
}

.customModalTop{
    top: 0;
}

.customModalBottom{
    bottom: 0;
}

.customModalCenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}